body {
  font-family: "Arial", sans-serif;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.board-header h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.write-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 420px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-btn {
  background-color: #666;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.post-list {
  border-top: 1px solid #ddd;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  overflow-y: auto;
}

.post-item {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 15px;
  width: 100%;
}

.post-link:hover {
  background-color: #f0f0f0; /* 마우스 오버 시 배경색 변경 */
  text-decoration: none; /* 마우스 오버 시 밑줄 제거 */
  color: inherit; /* 마우스 오버 시 색상 변화 방지 */
}
