<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Thymeleaf Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
</head>
<body>
<h1>Welcome to My Thymeleaf Page!</h1>
<main>
    <img style="width: 20%; height: auto; padding: 20px;" th:src="@{/resources/image/fish.png}" alt="fish">

    <div class="container">
        <div th:if="${name == null}">
            <form id="myForm" th:action="@{/form}" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div th:if="${name != null}">
            <div id="message">
                <h2 th:text="'Hello, ' + ${name} + '!'">Hello, User!</h2>
            </div>
            <button type="button">
                <a th:href="@{/}">Retry</a>
            </button>
        </div>
    </div>
</main>
<script th:src="@{/static/js/script.js}"></script>
</body>
</html>
