<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/static/css/course.css}" rel="stylesheet" />
  <link th:href="@{/static/css/sidebar.css}" rel="stylesheet" />
  <link th:href="@{/static/css/postDetail.css}" rel="stylesheet" />
  <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"/>
  <script th:src="@{/static/js/sidebarButtonEvent.js}"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js}"></script>
  <title>Course</title>
</head>
<body style="overflow:auto">
<div class="container-fluid">
  <div class="row"> <!-- 'a' 태그 대신 'div' 태그로 변경 -->
    <nav class="d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item sidebar-icon" id="handong-icon">
            <span class="nav-item handong-icon">
              <img th:src="@{/static/image/handongLogo-icon.png}" alt="handongLogo" />
            </span>
          </li>
          <li class="nav-item sidebar-icon">
            <span class="nav-item myprofile-icon">
              <img th:src="@{/static/image/myprofile.png}" alt="myprofile" />
            </span>
          </li>
          <li class="nav-item sidebar-icon" id="dashboard-icon">
            <span data-feather="check-circle"></span>
          </li>
          <li class="nav-item sidebar-icon" id="file-text-icon">
            <span data-feather="file-text"></span>
          </li>
          <div id="lecture-sidebar" class="lecture-sidebar">
            <div class="sidebar-header">
              <h4>Courses</h4>
            </div>
            <div class="course-list">
              <div th:each="course : ${courses}" class="course-item" th:onclick="'window.location.href=\'' + @{/course/{id}(id=${course.id})} + '\''">
                <div class="course-title" th:text="${course.name}">
                </div>
                <div class="course-subtitle" th:text="${course.semester}">
                </div>
              </div>
            </div>
          </div>
          <li class="nav-item sidebar-icon">
            <span data-feather="calendar"></span>
          </li>
          <li class="nav-item sidebar-icon">
            <span data-feather="inbox"></span>
          </li>
          <li class="nav-item sidebar-icon">
            <span data-feather="help-circle"></span>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-11 ml-sm-auto col-lg-11-5 px-md-4">
      <div class="board-header">
        <h1>Practical Project1 01 > Practical Project1 01</h1>
      </div>
      <div>
        <div class="action-bar">
          <button class="goto-list-btn" th:onclick="'location.href=\'' + @{/course/{courseId}(courseId=${courseId})} + '\''">Go To List</button>
          <div>
            <button class="update-btn" th:onclick="'location.href=\'' + @{/course/{courseId}/post/update/{postId}(courseId=${courseId}, postId=${post.id})} + '\''">Edit</button>
            <form th:action="@{/course/{courseId}/post/delete/{postId}(courseId=${courseId}, postId=${post.id})}" method="post" style="display: inline;">
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          </div>
        </div>
        <div class="post-detail">
          <h1 th:text="${post.title}">Post Title</h1>
          <div class="post-date" th:text="'Date: ' + ${#dates.format(post.date, 'MMMM d h:mm a')}">Post Date</div>
          <div class="post-content" th:text="${post.content}">Post Content</div>
          <img th:if="${post.file != null}" th:src="@{'/' + ${post.file.filePath}}" alt="Post Image" />
        </div>
        <div class="navigation">
          <hr>
          <div class="nav-buttons">
            <button th:if="${isPrevPostAvailable}"
                    th:onclick="'location.href=\'' + @{/post/{id}(id=${prevPostId})} + '\''"
                    class="nav-btn prev"> < Prev</button>
            <button th:unless="${isPrevPostAvailable}"
                    disabled="disabled"
                    class="nav-btn prev"> < Prev</button>
            <button th:if="${isNextPostAvailable}"
                    th:onclick="'location.href=\'' + @{/post/{id}(id=${nextPostId})} + '\''"
                    class="nav-btn next">Next > </button>
            <button th:unless="${isNextPostAvailable}"
                    disabled="disabled"
                    class="nav-btn next">Next > </button>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</body>
</html>
