<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/static/css/write.css}" rel="stylesheet" />
    <link th:href="@{/static/css/sidebar.css}" rel="stylesheet" />
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/sidebarButtonEvent.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js}"></script>
    <script th:src="@{/static/js/write.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js}"></script>
    <link th:href="@{https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css}" rel="stylesheet" />
    <title>Write</title>
</head>
<body style>
<div class="container-fluid">
    <div class="row">
        <nav class="d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item sidebar-icon" id="handong-icon">
                <span class="nav-item handong-icon">
                  <img th:src="@{/static/image/handongLogo-icon.png}" alt="handongLogo" />
                </span>
                    </li>
                    <li class="nav-item sidebar-icon">
                <span class="nav-item myprofile-icon">
                    <img th:src="@{/static/image/myprofile.png}" alt="myprofile" />
                </span>
                    </li>
                    <li class="nav-item sidebar-icon" id="dashboard-icon">
                        <span data-feather="check-circle"></span>
                    </li>
                    <li class="nav-item sidebar-icon" id="file-text-icon">
                        <span data-feather="file-text"></span>
                    </li>
                    <div id="lecture-sidebar" class="lecture-sidebar">
                        <div class="sidebar-header">
                            <h4>Courses</h4>
                        </div>
                        <div class="course-list">
                            <div th:each="course : ${courses}" class="course-item">
                                <div class="course-title" th:text="${course.name}">
                                </div>
                                <div class="course-subtitle" th:text="${course.semester}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item sidebar-icon">
                        <span data-feather="calendar"></span>
                    </li>
                    <li class="nav-item sidebar-icon">
                        <span data-feather="inbox"></span>
                    </li>
                    <li class="nav-item sidebar-icon">
                        <span data-feather="help-circle"></span>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-11 ml-sm-auto col-lg-11-5 px-md-4">
            <div class="board-header">
                <h1>Practical Project1 01 > Practical Project1 01</h1>
            </div>
            <div class="write">Write a post</div>
            <form action="lms/savePost" method="post">
            <div class="title-bar">
                <input type="text" name="title" />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="markdown-editor"></label><textarea id="markdown-editor"></textarea>
                    <input type="hidden" name="content" id="hidden-content" />
                </div>
            </div>
            <div id="file-guide">Attatch a file</div>
            <div class="file-input">
                <input
                        type="file"
                        id="file-input"
                        name="contents"
                        accept="image/png, image/jpeg"
                />
            </div>
            <br />
            <hr />
            <div class="button">
                <button class="cancel-btn">Cancel</button>
                <div class="button">
                    <button type="submit" class="save-btn">Save</button>
                </div>
            </div>
            </form>
        </main>
    </div>
</div>
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("markdown-editor")
    });

    // Markdown 에디터의 변경사항을 감지하고 숨겨진 입력 필드에 저장
    simplemde.codemirror.on("change", function(){
        var content = simplemde.value();
        document.getElementById("hidden-content").value = content;
    });
</script>
</body>
</html>
